.post-card {
  max-width: 375px;
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  &__title {
    text-align: center;
  }
  &__descr {
    margin: 40px 0;
  }
  &__date {
    font-size: 12px;
    text-align: center;
  }
}
